In [3]:
#Q1.  Explain with an example each when to use a for loop and a while loop

#Answer :

#for loop
#The for statement iterates through a collection or iterable object function.
#For loops are used when you want to do operations on each member of a sequence, in order.

for i in range(5):
    print("this  is for loop")

#while loop
#The while statement simply loops until a condition is False.
#In python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied. And when the condition becomes false, the line immediately after the loop in the program is executed.

a = 1
while a <= 5:
    print("this is while loop")
    a += 1

this  is for loop
this  is for loop
this  is for loop
this  is for loop
this  is for loop
this is while loop
this is while loop
this is while loop
this is while loop
this is while loop

In [13]:
"""
Q2 write a python program to print the sum and product of the first 10 
natural numbers using for and while loop

"""

#by for loop

sum1 = 0
pro1 = 1
for i in range(1,11):
    sum1 = sum1 + i
    pro1 = pro1 * i

print("For loop ")
print("sum :",sum1)
print("product :",pro1)


#by while loop
i=1
sum2 = 0
pro2 = 1
while i <= 10:
    sum2 = sum2 + i
    pro2 = pro2 * i
    i += 1
print("while loop ")    
print("Sum :",sum2)
print("product :",pro2)

For loop
sum : 55
product : 3628800
while loop
Sum : 55
product : 3628800

In [19]:
"""Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.


You are required to take the units of electricity consumed in a month from the user as input.


Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.
"""


unit = int(input("Enter the units :"))

bill = 0

if unit <= 100 :
    bill = unit * 4.5
elif unit <= 200:
    bill = unit * 6
elif unit <= 300:
    bill = unit * 10
elif unit > 300:
    if unit == 310:
        bill = 2250
    else:
        bill = unit * 20
    
    
print(bill)

Enter the units :340
6800

In [9]:
"""
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.
"""


l = [i for i in range(1,101)]

l2 = []
print("list of numbers from 1 to 100",l)

for i in l:
    cube = i * i * i 
    if cube%4 == 0 or cube%5 == 0:
        l2.append(cube)
        #print("l2 :",l2)
        #print("cube :",cube)
    print("Cube of ",i," : ",cube)
print("the cube of that number is divisible by 4 or 5 :",l2)


l3 = []
i=1
while i <= len(l):
    cube = i * i * i
    print("",i,":",cube)
    if cube%4 == 0 or cube%5 == 0:
        l3.append(cube)
    
    i += 1
    
print("cube of that number is divisible by 4 or 5 :",l3)

list of numbers from 1 to 100 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Cube of  1  :  1
Cube of  2  :  8
Cube of  3  :  27
Cube of  4  :  64
Cube of  5  :  125
Cube of  6  :  216
Cube of  7  :  343
Cube of  8  :  512
Cube of  9  :  729
Cube of  10  :  1000
Cube of  11  :  1331
Cube of  12  :  1728
Cube of  13  :  2197
Cube of  14  :  2744
Cube of  15  :  3375
Cube of  16  :  4096
Cube of  17  :  4913
Cube of  18  :  5832
Cube of  19  :  6859
Cube of  20  :  8000
Cube of  21  :  9261
Cube of  22  :  10648
Cube of  23  :  12167
Cube of  24  :  13824
Cube of  25  :  15625
Cube of  26  :  17576
Cube of  27  :  19683
Cube of  28  :  21952
Cube of  29  :  24389
Cube of  30  :  27000
Cube of  31  :  29791
Cube of  32  :  32768
Cube of  33  :  35937
Cube of  34  :  39304
Cube of  35  :  42875
Cube of  36  :  46656
Cube of  37  :  50653
Cube of  38  :  54872
Cube of  39  :  59319
Cube of  40  :  64000
Cube of  41  :  68921
Cube of  42  :  74088
Cube of  43  :  79507
Cube of  44  :  85184
Cube of  45  :  91125
Cube of  46  :  97336
Cube of  47  :  103823
Cube of  48  :  110592
Cube of  49  :  117649
Cube of  50  :  125000
Cube of  51  :  132651
Cube of  52  :  140608
Cube of  53  :  148877
Cube of  54  :  157464
Cube of  55  :  166375
Cube of  56  :  175616
Cube of  57  :  185193
Cube of  58  :  195112
Cube of  59  :  205379
Cube of  60  :  216000
Cube of  61  :  226981
Cube of  62  :  238328
Cube of  63  :  250047
Cube of  64  :  262144
Cube of  65  :  274625
Cube of  66  :  287496
Cube of  67  :  300763
Cube of  68  :  314432
Cube of  69  :  328509
Cube of  70  :  343000
Cube of  71  :  357911
Cube of  72  :  373248
Cube of  73  :  389017
Cube of  74  :  405224
Cube of  75  :  421875
Cube of  76  :  438976
Cube of  77  :  456533
Cube of  78  :  474552
Cube of  79  :  493039
Cube of  80  :  512000
Cube of  81  :  531441
Cube of  82  :  551368
Cube of  83  :  571787
Cube of  84  :  592704
Cube of  85  :  614125
Cube of  86  :  636056
Cube of  87  :  658503
Cube of  88  :  681472
Cube of  89  :  704969
Cube of  90  :  729000
Cube of  91  :  753571
Cube of  92  :  778688
Cube of  93  :  804357
Cube of  94  :  830584
Cube of  95  :  857375
Cube of  96  :  884736
Cube of  97  :  912673
Cube of  98  :  941192
Cube of  99  :  970299
Cube of  100  :  1000000
the cube of that number is divisible by 4 or 5 : [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]
 1 : 1
 2 : 8
 3 : 27
 4 : 64
 5 : 125
 6 : 216
 7 : 343
 8 : 512
 9 : 729
 10 : 1000
 11 : 1331
 12 : 1728
 13 : 2197
 14 : 2744
 15 : 3375
 16 : 4096
 17 : 4913
 18 : 5832
 19 : 6859
 20 : 8000
 21 : 9261
 22 : 10648
 23 : 12167
 24 : 13824
 25 : 15625
 26 : 17576
 27 : 19683
 28 : 21952
 29 : 24389
 30 : 27000
 31 : 29791
 32 : 32768
 33 : 35937
 34 : 39304
 35 : 42875
 36 : 46656
 37 : 50653
 38 : 54872
 39 : 59319
 40 : 64000
 41 : 68921
 42 : 74088
 43 : 79507
 44 : 85184
 45 : 91125
 46 : 97336
 47 : 103823
 48 : 110592
 49 : 117649
 50 : 125000
 51 : 132651
 52 : 140608
 53 : 148877
 54 : 157464
 55 : 166375
 56 : 175616
 57 : 185193
 58 : 195112
 59 : 205379
 60 : 216000
 61 : 226981
 62 : 238328
 63 : 250047
 64 : 262144
 65 : 274625
 66 : 287496
 67 : 300763
 68 : 314432
 69 : 328509
 70 : 343000
 71 : 357911
 72 : 373248
 73 : 389017
 74 : 405224
 75 : 421875
 76 : 438976
 77 : 456533
 78 : 474552
 79 : 493039
 80 : 512000
 81 : 531441
 82 : 551368
 83 : 571787
 84 : 592704
 85 : 614125
 86 : 636056
 87 : 658503
 88 : 681472
 89 : 704969
 90 : 729000
 91 : 753571
 92 : 778688
 93 : 804357
 94 : 830584
 95 : 857375
 96 : 884736
 97 : 912673
 98 : 941192
 99 : 970299
 100 : 1000000
cube of that number is divisible by 4 or 5 : [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [16]:
"""Q5.  Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist" """

v = "aAeEiIoOuU"

s = "I want to become a data scientist"

l = []
print("Vowels are ")
for i in s :
    if i in v:
        print("",i ,end=" ")
        l.append(i)
        
print("\n Number of vowels present in the string :",len(l))

Vowels are
 I  a  o  e  o  e  a  a  a  i  e  i
 Number of vowels present in the string : 12