In [3]:
# Q1 write a python program to accept percentage from the user and display the grade accoding to the following criteria
"""
>90              A
>80 and <= 90    B
>= 60 and <= 80  C
below 60         D
"""

'\n>90              A\n>80 and <= 90    B\n>= 60 and <= 80  C\nbelow 60         D\n'

In [1]:
marks = int(input("Enter your marks : "))

if marks > 90:
    print("A Grade")
elif marks > 80 and marks <= 90:
    print("B Grade")
elif marks >= 60 and marks <= 80:
    print("C Grade")
else :
    print("D Grade")

Enter your marks : 90
B Grade

In [4]:
"""Q2 write a python program to accept the cost price of a bike and display the road tax to be paid according to the following criteria :

tax     cost pice(in rs)
15%      >100000
10%      >50000 and <= 100000
5%       <= 50000  """

'Q2 write a python program to accept the cost price of a bike and display the road tax to be paid according to the following criteria :\n\ntax     cost pice(in rs)\n15%      >100000\n10%      >50000 and <= 100000\n5%       <= 50000  '

In [14]:
cost = int(input("Enter the cost of the Bike : "))

if cost > 100000 :
    
    print("15% tax : ", cost*(15/100))
elif cost >50000 and cost <= 100000:
    print("10% tax :", cost*(10/100))
else :
    print("5% tax  :",cost*(5/100))

Enter the cost of the Bike : 500000
15% tax :  75000.0

In [5]:
"""Q3 Accept any city from user and display monuments of the city.

city     monumnents

Delhi    Red Fort
Agra     Taj Mahal
Jaipur   Jal Mahal"""

'Q3 Accept any city from user and display monuments of the city.\n\ncity     monumnents\n\nDelhi    Red Fort\nAgra     Taj Mahal\nJaipur   Jal Mahal'

In [26]:
city = input("Enter the city name : ")

if city.lower() == "delhi":
    print("City : Delhi Monument : Red fort")
elif city.lower() == "Agra":
    print("City : Agra Monument : Taj mahal")
elif city.lower() == "jaipur":
    print("City : jaipur Monument : jal mahal")
else :
    print(city,"is not in Quection")

Enter the city name : Delhi
City : Delhi Monument : Red fort

In [6]:
#Q4 check how many times a given number divided by 3 before it is less than #or equak to 10.

In [33]:
num = int(input("Enter the number : "))
num1 = num
d_count = 0

for i in range(num):
    count = num/3
    
    if count > 10:
        d_count += 1
    else:
        break
    
    num = count
print("That many times " ,num1," divided by 3 :",d_count)

Enter the number : 100
That many times  100  divided by 3 : 2

In [7]:
"""Q5 Why and when to use while loop in python give detailed description with example

Ans :
      Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.
      
      i = 1
      n = 5

      # while loop from i = 1 to 5
      while i <= n:
          print(i)
          i = i + 1
          """

'Q5 Why and when to use while loop in python give detailed description with example\n\nAns :\n      Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.\n      \n      i = 1\n      n = 5\n\n      # while loop from i = 1 to 5\n      while i <= n:\n          print(i)\n          i = i + 1\n          '

In [8]:
# Q6 use nested while loop to print 3 different pattern.

In [2]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(j , end =" ")
        j += 1
    print("")
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
i = 1
while i <= 5:
    j = 5
    while j >= i:
        print(i , end =" ")
        j -= 1
    print("")
    i += 1

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [4]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print("*" , end =" ")
        j += 1
    print("")
    i += 1
i = 1
while i <= 5:
    j = 5
    while j >= i:
        print("*" , end =" ")
        j -= 1
    print("")
    i += 1

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

Q7 reverse a while loop to display number from 10 to 1

In [2]:
i = 10
while i>=1:
    print(i,end =" ")
    i -= 1

10 9 8 7 6 5 4 3 2 1